* {
  background: linear-gradient(#3a3939, #fff);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  
}

.input {
  height: 38px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 8px;
  outline: none;
  border: 1px solid #000000;
  background: transparent;
}

.button {
  background: transparent;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family:  Tahoma, sans-serif;
  margin-bottom: 50px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.p {
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3a3939;

}

.git{
  background: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #3a3939;
  font-weight: 600;
}

.button:hover {
  background-color: #3a3939;
  transform: scale(1.2) ;
  color: #fff;
}